<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:include="layouts/layout :: header"></head>

<body>
<div class="container">
    <form  action="registerme" method="post" enctype="application/x-www-form-urlencoded" class="form-register" role="form">
        <h3 th:text="#{form.registration.title}">New user registration:</h3>
        <div class="form-group">
            <label for="username" th:text="#{form.username}">Name*:</label>
            <input type="text" name="username" class="form-control input-md" id="username"/>
        </div>
        <div class="form-group">
            <label for="password" th:text="#{form.password}">Password*:</label>
            <input type="password" name="password" class="form-control input-md" id="password"/>
        </div>
        <div class="form-group">
            <label for="email" th:text="#{form.email}">E-mail*:</label>
            <input type="email" name="email" class="form-control input-md" id="email"/>
        </div>
        <div class="form-group">
            <input type="button" id="registerme" class="btn btn-regme btn-lg-2" value="Ok, register me" th:value="#{button.registerme}"/>
        </div>
    </form>
</div>

<div th:include="layouts/layout :: footer"></div>
<script src="/js/register.js" th:src="@{/js/register.js}"></script>
</body>

</html>